%h1= @server.name
%p= @server.description

%p
	Address:
	= @server.address

- if @server.private?
	%p Private server

= link_to "Edit", edit_server_path(@server)
|
= link_to "Delete", @server, method: :delete, data: { confirm: "Are you sure?" }
|
= link_to "Back", root_path