= form_for @unturned_server do |f|
	- if @unturned_server.errors.any?
		- @unturned_server.errors.full_messages.each do |msg|
			.row
				.large-12.columns
					.alert-box.alert{"data-alert" => "",}
						= msg
						= link_to "&times;".html_safe, "#", class: "close"

	= f.label :name
	= f.text_field :name

	= f.label :address
	= f.text_field :address
	
	= f.label :port
	= f.text_field :port

	= f.label :description
	= f.text_area :description

	= f.check_box :private
	= f.label :private, "Make server private"
	%br/

	= f.submit "Submit"